<div class="container mt-5">
    <h1>Hello.</h1>
    <div class="mt-5 p-5 bg-secondary text-white rounded">
        <h1>I'm Sarath Selvaraj</h1>
        <h4>Senior Software Engineer</h4>
        <p>
            I have over 7 years of professional experience as a Software Engineer, specializing in developing web and mobile applications using Angular technologies. I am a firm believer in teamwork and thrive in a motivated professional environment. Possessing the ability to learn new technologies quickly, I am adept at undertaking challenging tasks with enthusiasm.
        </p>
    </div>
</div>