<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text px-2">
      <i class="fa fa-copyright"></i> 2024, Sarath. All rights reserved.
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav px-2">
        <a
          class="nav-item nav-link"
          href="https://github.com"
          target="_blank"
        >
          <i class="fa fa-github"></i>
        </a>
        <a
          class="nav-item nav-link"
          href="https://twitter.com"
          target="_blank"
        >
          <i class="fa fa-twitter"></i>
        </a>
        <a
          class="nav-item nav-link"
          href="https://facebook.com"
          target="_blank"
        >
          <i class="fa fa-facebook"></i>
        </a>
        <a
        class="nav-item nav-link"
        href="https://instagram.com"
        target="_blank"
      >
        <i class="fa fa-instagram"></i>
      </a>
      </div>
    </div>
  </nav>
  